ul {
	margin: 0;
	list-style: none;
}

li:not(:last-of-type) {
	margin-bottom: 1em;
}

.page {
	--bg: #fff;

	position: relative;
	z-index: 0;
	text-align: left;
	padding: 2em 1em;
}

@media (prefers-color-scheme: dark) {
	.page {
		--bg: #181818;
	}
}

.page::before {
	content: "";
	z-index: -1;
	position: absolute;
	inset: 1em 0;
	width: 100vw;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--bg);
}

[slot=split]:focus {
	outline: none;
}

.line {
	display: flex;
	align-items: center;
	gap: 1em;
}

.icon {
	width: 2em;
	flex-shrink: 0;
}